---
import type { Product } from '@/types'
import { ShoppingCart } from '@lucide/astro'
import { truncate } from '@/utils/string'

interface Props extends Product {}

const { url, title, description, cover, price } = Astro.props

const backgroundStyle = `background-image: url(${cover})`
const buttonText = price > 0 ? `Buy for ${price}€` : `Get for free`
---

<div class="relative w-full overflow-hidden rounded-2xl select-none md:w-72">
    <div
        style={backgroundStyle}
        class="absolute inset-0 rounded-2xl bg-cover bg-top"
        aria-hidden="true"
    >
        <div
            class="size-full bg-gradient-to-t from-zinc-800/90 to-zinc-800/50 backdrop-blur-lg"
        >
        </div>
    </div>

    <div class="relative z-10 flex h-full flex-col gap-6 p-3">
        <div class="flex flex-col">
            <a
                href={url}
                class="mb-3 w-full overflow-hidden rounded-lg transition-transform active:scale-[.98]"
            >
                <img
                    src={cover}
                    class="h-auto w-full object-cover"
                    draggable="false"
                />
            </a>

            <h2 class="font-bold text-neutral-200">{title}</h2>
            <p class="text-neutral-400">{truncate(description, 64)}</p>
        </div>

        <a
            class="flex items-center justify-center gap-1 rounded-lg bg-zinc-200 py-2 text-sm font-bold text-zinc-800 transition-all hover:bg-zinc-300 active:scale-[.97]"
            href={url}
        >
            <ShoppingCart size={16} fill="#ffffff10" />
            {buttonText}
        </a>
    </div>
</div>
