---
import { Friends, Information, Socials } from '@/consts'
import { Icon } from 'astro-icon/components'

import Avatar from '@/components/Base/Avatar.astro'
import Box from '@/components/Base/Box.astro'

const isExternal = (url: string) => url.startsWith('http')
---

<aside
    class="flex w-full flex-col items-center gap-3 md:sticky md:top-6 md:max-w-60"
>
    <Avatar size={240} />

    <div class="flex w-full flex-col gap-3">
        <!-- About -->
        <span
            class="inline-flex items-center gap-1 text-sm font-medium text-neutral-600 dark:text-neutral-400"
        >
            <Icon name="ph:user" size={20} /> About
        </span>

        <Box className="gap-3">
            {
                Information.map((info) => (
                    <span class="flex items-center gap-1 text-sm font-medium text-neutral-700 dark:text-neutral-200">
                        <Icon name={info.icon} size={20} />
                        {info.text}
                    </span>
                ))
            }
        </Box>

        <!-- Socials -->
        <span
            class="inline-flex items-center gap-1 text-sm font-medium text-neutral-600 dark:text-neutral-400"
        >
            <Icon name="ph:mailbox" size={20} /> Socials
        </span>

        <!-- Support -->
        <a
            href="https://s.naibuu.dev/kofi"
            target="_blank"
            class="group relative flex flex-1 items-center gap-2 overflow-hidden rounded-2xl border border-pink-500 bg-linear-to-t from-pink-600 to-pink-500 px-8 py-4 text-sm font-medium transition-all hover:brightness-110 active:scale-95"
        >
            <Icon name="ph:heart" size={20} />
            Ko-fi
            <Icon
                name="ph:heart"
                size={128}
                class="absolute -top-6 -right-6 mask-b-from-10% opacity-20 transition-transform duration-700 group-hover:-translate-x-2"
            />
        </a>

        <Box className="gap-3">
            {
                Socials.map((social) => (
                    <a
                        href={social.url}
                        target={isExternal(social.url) ? '_blank' : undefined}
                        class="flex items-center gap-1 text-sm font-medium text-neutral-700 transition-colors hover:text-indigo-500 dark:text-neutral-200"
                    >
                        <Icon name={social.icon} size={20} />
                        {social.text}
                    </a>
                ))
            }
        </Box>

        <!-- Friends -->
        <span
            class="inline-flex items-center gap-1 text-sm font-medium text-neutral-600 dark:text-neutral-400"
        >
            <Icon name="ph:users" size={20} /> Friends
        </span>

        <Box className="flex-wrap justify-center gap-6" row={true}>
            {
                Friends.map((friend) => (
                    <a
                        href={friend.url}
                        target="_blank"
                        class="flex flex-col items-center gap-1 text-sm"
                    >
                        <img
                            src={friend.icon}
                            class="size-10 rounded-lg select-none"
                            draggable={false}
                        />
                        {friend.text}
                    </a>
                ))
            }
        </Box>
    </div>
</aside>
