---
import Layout from '../layouts/Layout.astro'
import { Calendar } from '@lucide/astro'

import Box from '../components/Base/Box.astro'
import Progress from '../components/Base/Progress.astro'
import Chip from '../components/Base/Chip.astro'

import { Skills, Projects } from '../scripts/data'
---

<Layout>
    <Box>
        <h4 class="text-sm font-semibold text-neutral-400">Me</h4>

        <h1 class="text-lg font-semibold text-indigo-300">Hi, I'm Alex!</h1>

        <p class="font-medium text-neutral-200">
            I'm a software developer and designer from Greece with experience in
            languages like TypeScript, Python, C++, and Rust. At the moment, I'm
            working as a freelancer, taking on projects and commissions.
        </p>
    </Box>
    <Box>
        <h4 class="text-sm font-semibold text-neutral-400">Skills</h4>

        <p class="mb-4 font-medium text-neutral-200">
            I'm skilled in areas listed below. I'm also highly skilled at
            working in teams, communicating, and delivering results quickly.
        </p>

        {Skills.map((skill) => <Progress {...skill} />)}
    </Box>
    <h4 class="text-sm font-semibold text-neutral-400">Projects</h4>
    {
        Projects.map((project) => (
            <a href={project.url} target="_blank" class="group">
                <Box>
                    <div class="flex items-center gap-2">
                        <h1 class="text-lg font-semibold text-indigo-300">
                            {project.title}
                        </h1>

                        <span class="flex items-center gap-1 text-sm font-medium transition group-hover:text-indigo-300">
                            <Calendar size="18" fill="#ffffff10" />
                            {project.year}
                        </span>
                    </div>

                    <p class="font-medium text-neutral-200 transition group-hover:text-indigo-300">
                        {project.text}
                    </p>

                    <div class="flex flex-wrap gap-2">
                        {project.tags.map((tag) => (
                            <Chip>{tag}</Chip>
                        ))}
                    </div>
                </Box>
            </a>
        ))
    }
</Layout>
