---
import Layout from '@/layouts/Home.astro'
import { Globe, UserCircle, Users, Notebook, Star } from '@lucide/astro'
import { Friends, Skills, Socials, Projects } from '@/consts'

import Box from '@/components/Box.astro'
import SkillCard from '@/components/SkillCard.astro'
import ProjectCard from '@/components/ProjectCard.astro'
---

<Layout>
    <div class="flex flex-col gap-6 md:flex-row">
        <div class="flex-1 space-y-4">
            <!-- Me -->
            <span
                class="flex items-center gap-1 text-sm font-medium text-neutral-600 dark:text-neutral-400"
            >
                <UserCircle size="18" /> Me
            </span>

            <Box>
                Hi! I'm Thor! I'm a software developer from the United States of
                America with experience in languages such as TypeScript,
                JavaScript, Python, and Go.
            </Box>

            <!-- Skills -->
            <span
                class="flex items-center gap-1 text-sm font-medium text-neutral-600 dark:text-neutral-400"
            >
                <Star size="18" /> Skills
            </span>

            <Box>
                {Skills.map((skill) => <SkillCard {...skill} />)}
            </Box>

            <!-- Projects -->
            <span
                class="flex items-center gap-1 text-sm font-medium text-neutral-600 dark:text-neutral-400"
            >
                <Notebook size="18" /> Projects
            </span>

            <div
                class="flex w-full flex-col gap-2 rounded-2xl text-neutral-300"
            >
                {Projects.map((project) => <ProjectCard {...project} />)}
            </div>
        </div>

        <aside class="w-full space-y-4 md:w-64">
            <span
                class="flex items-center gap-1 text-sm font-medium text-neutral-600 dark:text-neutral-400"
            >
                <Users size="18" /> Friends
            </span>
            <Box>
                <ul class="grid grid-cols-2 gap-4">
                    {
                        Friends.map((friend) => (
                            <li class="min-w-0 overflow-hidden">
                                <a
                                    href={friend.url}
                                    target="_blank"
                                    rel="noreferrer"
                                    class="flex flex-col items-center gap-1 text-center"
                                >
                                    <img
                                        src={friend.img}
                                        alt={friend.alt}
                                        class="size-10 rounded-full object-cover"
                                    />
                                    <span class="truncate text-xs text-neutral-700 dark:text-neutral-200">
                                        {friend.name}
                                    </span>
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </Box>

            <span
                class="flex items-center gap-1 text-sm font-medium text-neutral-600 dark:text-neutral-400"
            >
                <Globe size="18" /> Socials
            </span>
            <Box>
                {
                    Socials.map((social) => (
                        <a
                            href={social.url}
                            target="_blank"
                            class="flex items-center gap-1 font-medium text-neutral-700 transition-colors hover:text-sky-500 dark:text-neutral-200"
                        >
                            <social.icon size="18" width="18" height="18" />
                            {social.text}
                        </a>
                    ))
                }
            </Box>
        </aside>
    </div>
</Layout>
