---
import type { Project } from '@/types'
import { Calendar } from '@lucide/astro'

interface Props extends Project {}

const { start, end, title, description, url } = Astro.props
---

<a
    href={url}
    target="_blank"
    class="flex-1 transition-transform active:scale-[.98]"
>
    <div
        class="flex h-40 min-w-96 flex-col gap-1 rounded-2xl border border-zinc-300 bg-zinc-100 px-8 py-6 text-neutral-800 dark:border-zinc-800 dark:bg-zinc-900 dark:text-neutral-300"
    >
        <h4
            class="flex items-center gap-2 font-medium text-neutral-800 dark:text-neutral-200"
        >
            {title}

            <span class="flex items-center gap-1 text-sm">
                <Calendar size={16} fill="#ffffff10" />
                {end ? `${start} - ${end}` : `Since ${start}`}
            </span>
        </h4>

        <p class="text-xs leading-5 text-neutral-500 dark:text-neutral-400">
            {description}
        </p>
    </div>
</a>
